@{
    ViewData["Title"] = "Home Page";
}

<p>Simple web application project template powered by ASP.NET Core 1.1 that features the following:</p>
<ul>
    <li>Powered by <a href="https://www.microsoft.com/net/download/core" target="_blank">ASP.NET Core 1.1</a>.</li>
    <li>Runs on Linux (<a href="https://www.microsoft.com/net/core#linuxubuntu" target="_blank">Ubuntu Server</a>).</li>
    <li>Uses <a href="https://www.mysql.com/" target="_blank">MySQL</a> for database.</li>
    <li>Combines custom login system with social logins (Google, Facebook).</li>   
    <li>Unobtrusive validation</li>
    <li>Remote validation</li>
    <li>Avatar image upload (in progress).</li>   
    <li>Multilanguage support (in progress).</li>  
    <li>Unit Tests (todo)</li>
</ul>

<p>It features the following libraries:</p>
<ul>
    <li><a href="https://docs.microsoft.com/en-us/ef/core/" target="_blank">Entity Framework Core</a> - ORM used to access database.</li>
    <li><a href="https://github.com/PomeloFoundation/Pomelo.EntityFrameworkCore.MySql" target="_blank">Pomelo Entity Framework Core</a> - makes Entity Framework Core work with MySQL</li>
    <li><a href="http://docs.autofac.org/en/latest/integration/aspnetcore.html" target="_blank">Autofac</a> - default dependency injection.</li>
    <li><a href="https://github.com/serilog/serilog-extensions-logging" target="_blank">Serilog - logging.</a></li>
    <li><a href="http://miniprofiler.com/" target="_blank">MiniProfiler</a> - profiling application and sql (in progress).</li>
</ul>

<p>Complete source code is available here: <br /><a href="https://github.com/KlaatuVerataNecto/perun.net-core" target="_blank">https://github.com/KlaatuVerataNecto/perun.net-core</a></p>
<p>Tutorials and how-to: <br /><a href="http://klaatuveratanecto.com/" target="_blank">http://klaatuveratanecto.com/</a></p>

<p>The complete application will consist of:</p>
<ul>
    <li>Post creation (title, image) by the user.</li>
    <li>Post vote up and down.</li>
    <li>Post tagging.</li>
    <li>Post comments.</li>
    <li>Post comment voting.</li>
    <li>Post "Facebook Like".</li>
    <li>Gamification - points for creation of Posts and receiving votes</li>
</ul>
