
@{
    ViewData["Title"] = "avatar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-4 col-md-offset-4">
    <p>Upload</p>
    <hr />
        <form method="post" enctype="multipart/form-data" asp-controller="avatar" asp-action="upload">
                <div class="form-group">
                    <label class="btn btn-default btn-file">
                        Browse <input type="file" name="avatar_image" hidden>
                    </label>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-default">Upload</button>
                </div>
        </form>
</div>
