
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Account</h2>
<div class="panel-body">
    <div class="tabbable nav-tabs-vertical nav-tabs-left">
        <ul class="nav nav-tabs nav-tabs-highlight">
            <li class="active">
                <a href="#">
                    <i class="icon-menu7 position-left"></i> Profile Info
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="icon-mention position-left"></i>Profile Picture
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="icon-mention position-left"></i> My Logins
                </a>
            </li>
        </ul>

        <div class="tab-content">
            <h4 class="tab-title">Personal Info</h4>

        </div>
    </div>
</div>
