@{
    ViewData["Title"] = "Home Page";
}

<h2>Privacy Policy</h2>
<i>Last modified:  20/08/2017</i>
<p></p>
<p><strong>Information we collect:</strong></p>
<ul>
    <li>Email Address</li>
</ul>
<p>We collect above information to provide login system for Perun.NET Core open source project hosted on GitHub under the following url: <a href="https://github.com/KlaatuVerataNecto/perun.net-core" target="_blank">https://github.com/KlaatuVerataNecto/perun.net-core</a>. The project has been created and it is maintained for educational purposes only.</p>
<p>We do not share/sell/distibute any of the above information to third parties.</p>
