@model peruncore.Models.User.UsernameModel
@{
    ViewData["Title"] = "Username";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<div class="col-md-6 col-md-offset-3">
    <form asp-action="Username">
        <div class="form-horizontal">
            <p>Select new Username</p>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="username" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="username" class="form-control" />
                    <span asp-validation-for="username" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10">
                    <input asp-for="userid" class="form-control" type="hidden" />
                    <input asp-for="token" class="form-control" type="hidden" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button type="submit" class="btn btn-default pull-right">Save</button>
                </div>
            </div>
        </div>
    </form>
</div>

