@model peruncore.Models.User.SignUpModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
@section Css {
    @{await Html.RenderPartialAsync("_ValidationCssPartial"); }
}
<div class="col-md-6 col-md-offset-3">
    <form asp-action="Index">
        <div class="form-horizontal">
            <p>Sign up</p>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="username" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="username" class="form-control" />
                    <span asp-validation-for="username" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="email" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="email" class="form-control" />
                    <span asp-validation-for="email" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="password" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="password" class="form-control" />
                    <span asp-validation-for="password" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">Password strength</label>
                <div class="col-md-10">
                    <div class="password-meter">
                        <div class="password-meter-message"> </div>
                        <div class="password-meter-bg"><div class="password-meter-bar"></div></div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="password_confirm" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="password_confirm" class="form-control" />
                    <span asp-validation-for="password_confirm" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">              
                <div class="col-md-10">
                    <input asp-for="return_url" class="form-control" type="hidden" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button type="submit" class="btn btn-default pull-right">Sign up</button>
                </div>
            </div>
            <hr />
            <p>or use on the social logins:</p>
            @Html.Partial("_SocialLoginPartial")
        </div>
    </form>
</div>

