<p><a asp-area="" asp-controller="Oauth" asp-action="Google">Google</a> |
<a asp-area="" asp-controller="Oauth" asp-action="Facebook">Facebook</a> |
<a asp-area="" asp-controller="Oauth" asp-action="Twitter">Twitter</a></p>