@model  peruncore.Models.User.EditEmailModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
@section Css {
    @{await Html.RenderPartialAsync("_ValidationCssPartial"); }
}
<h2>Settings</h2>
<div class="row">
    <div class="col-xs-2">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs tabs-left">
            <li><a asp-area="" asp-controller="Settings" asp-action="Account">Account</a></li>
            <li class="active"><a asp-area="" asp-controller="Settings" asp-action="Logins">My Logins</a></li>
        </ul>
    </div>
    <div class="col-xs-10">
        <!-- Tab panes -->
        <div class="tab-content">
            <div class="tab-pane active" id="home">  
                <h4>Change Email</h4>
                <hr />
                @if (TempData.ContainsKey("notification"))
                {
                    <div class="alert alert-danger">@TempData["notification"].ToString()</div>
                    @TempData.Remove("notification");
                }
                @if (!string.IsNullOrEmpty(Model.newemail))
                {
                    <form asp-action="Cancel" asp-controller="Email">
                        <div class="alert alert-info">Awaiting to activate: @Model.newemail. Please check your email <button type="submit" class="btn-default pull-right">Cancel</button></div>
                    </form>
                }
                else
                {
                   <form asp-action="ChangeEmail">
                    <div class="form-horizontal">
                      
                  

                        <div class="form-group">
                            <label asp-for="email" class="col-md-2 control-label"></label>
                            <div class="col-md-10">
                                <input asp-for="email" class="form-control" />
                                <span asp-validation-for="email" class="text-danger"></span>
                            </div>
                        </div>
                        <hr />
                        <div class="form-group">
                            <label asp-for="confirm_password" class="col-md-2 control-label"></label>
                            <div class="col-md-10">
                                <input asp-for="confirm_password" class="form-control" />
                                <span asp-validation-for="confirm_password" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <button type="submit" class="btn btn-default pull-right">Save</button>
                            </div>
                        </div>
                    </div>
                </form>
                }
            </div>
        </div>
    </div>
</div>