
@{
    ViewData["Title"] = "Finish Forgot";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Yes! Your password has been reset successfully.</h2>
<p>Please log in:</p>
<a asp-controller="Login" asp-action="Index">Login</a>


