@model peruncore.Models.User.ForgotModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="col-md-6 col-md-offset-3">
    <p>Forgot</p>
    <hr />
    <form asp-action="BeginForgot">
        <div class="form-horizontal">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="email" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="email" class="form-control" />
                    <span asp-validation-for="email" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button type="submit" class="btn btn-info pull-right">Login</button>
                </div>
            </div>
        </div>
    </form>
</div>

