@model peruncore.Models.User.ResetModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="col-md-6 col-md-offset-3">
    <form asp-action="FinishForgot">
        <div class="form-horizontal">
            <p>Reset password</p>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="password" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="password" class="form-control" />
                    <span asp-validation-for="password" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">Password strength</label>
                <div class="col-md-10">
                    <div class="password-meter">
                        <div class="password-meter-message"> </div>
                        <div class="password-meter-bg"><div class="password-meter-bar"></div></div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="password_confirm" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="password_confirm" class="form-control" />
                    <span asp-validation-for="password_confirm" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button type="submit" class="btn btn-info pull-right">Reset Password</button>
                </div>
            </div>
        </div>
        <input asp-for="userid" type="hidden" /><input asp-for="token" type="hidden" />
    </form>
</div>
<form><input type="hidden" id="page" value="password" /></form>

