@model peruncore.Models.User.ProfileViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (Model.CanUpdate)
{
<style>.user-avatar:hover .img-avatar {opacity: 0.7;} .user-avatar:hover .change-avatar {opacity: 1;}</style>
}
<div class="profile-cover">
    <div id="image-cropper">
    <div class="profile-cover-img cropit-preview" style="background-image: url(@Model.Cover)"></div>
    @if (Model.CanUpdate)
    {<div class="overlay-cover overlay" style="display: none"><div class="overlay-row"><div class="overlay-center"><img src="~/images/common/preloader.gif" class="center-block"></div></div></div>
     <span class="btn btn-default change-cover">
        <span class="glyphicon glyphicon-camera"></span>
        <span class="change-cover-text">Upload Cover Photo</span>
        <input type="file" accept="image/*" id="file-cover-change" hidden="hidden" />
     </span>
    }
    </div>
    <div class="media">
        <div class="media-left profile-thumb">
            <div class="user-avatar ">
                <img src="@Model.Avatar" class="img-avatar img-circle" alt="@Model.Username" />
                @if (Model.CanUpdate)
                {<span class="change-avatar">                    
                    <span class="glyphicon glyphicon-camera txt-change-avatar"></span>                   
                    <input type="file" id="file-avatar-change" accept="image/*" hidden="hidden" />
                </span>
                }
            </div>    
        </div>

        <div class="media-body">
            <h1>@Model.Username<small class="display-block">Spain</small></h1>
        </div>
    </div>
</div>
@if (Model.CanUpdate)
{
<nav id="change-cover-buttons" class="navbar navbar-light  navbar-static-top" style="padding:10px; border:solid #ccc 1px;display:none;">
    <div class="pull-left align-middle text-info" style="padding:10px;">
        <i class="glyphicon glyphicon-arrow-up mr-5"></i><span class="mr-5">Drag to reposition Cover</span><i class="glyphicon glyphicon-arrow-up"></i>
    </div>
    <form class="form-inline pull-right">        
        <button class="btn btn-default" type="button" id="btn-cover-cancel">Cancel</button>
        <button class="btn btn-default" type="button" id="btn-cover-save">Save Cover</button>
    </form>
</nav>
<!-- Modal Profile Picture Crop -->
<div id="crop-avatar-modal" class="modal" tabindex="-1" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                 Create Profile Picture
            </div>
            
            <div class="modal-body text-center">
                <div class="img-cropper">
                    <img alt="" id="preview-image" />
                </div>
                <div class="overlay-avatar overlay" style="display: none"><div class="overlay-row"><div class="overlay-center"><img src="~/images/common/preloader.gif" class="center-block"></div></div></div>
            </div>
            
            <div class="modal-footer">
                <img src="~/images/common/preloader.gif" class="preloader">
                <button type="button" class="btn btn-default" id="btn-avatar-cancel">Cancel</button>
                <button type="button" class="btn btn-primary" id="btn-avatar-save">Save</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal Cover Picture Message -->
<div id="cover-message-modal" class="modal" tabindex="-1" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                Error uploading cover picture.
            </div>
            <div class="modal-body text-center">
                Image dimensions too low. Image must be at least 1140 x 350 pixels. 
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="btn-cover-message-cancel">Close</button>
            </div>
        </div>
    </div>
</div>
}
<form><input type="hidden" id="page" value="profile" /></form>