
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="profile-cover">
    <div class="profile-cover-img" style="background-image: url(/images/users/covers/demo.jpg)"></div>
    <div class="media">
        <div class="media-left">
            <a href="#" class="profile-thumb">
                <img src="/images/users/demo.jpg" class="img-circle" alt="">
            </a>
        </div>

        <div class="media-body">
            <h1>Klaatu Verata Necto<small class="display-block">Spain</small></h1>
        </div>
    </div>
</div>
