@model peruncore.Models.Post.PostModel
@{
    ViewData["Title"] = "Create Post";
}
<h2>Create Post</h2>

<div id="post-upload-error" style="display:none">
    <div class="alert alert-danger" id="post-upload-error-msg">
    </div>
    <button class="btn btn-default" id="post-try-again-button">Try Again</button>
</div>

<form method="post" enctype="multipart/form-data" asp-controller="image" asp-action="posts" class="dropzone" id="dropzoneForm"></form>
<div id="progressbar-wrapper" style="display:none">
    Uploading ...
    <progress id="progressbar" value="0" max="100"></progress>
</div>
<br />
<form method="post" enctype="multipart/form-data" asp-controller="post" asp-action="create" id="post_form" style="display:none">
    <div class="form-group">
        <div class="col-md-10 padding-0">
            <input asp-for="title" class="form-control" placeholder="Title" />
            <span asp-validation-for="title" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-default">Submit</button>
    </div>
    <div class="form-group p-0 mtb-10">
        <div class="col-md-10">
            <img src="" id="post_image_url" style="display:none" class="img-responsive" />
        </div>
    </div>
    <div class="form-group">
        <input type="hidden" name="post_image" id="post_image_file" />
    </div>
</form>
<form><input type="hidden" id="page" value="post" /></form>

