@model peruncore.Models.Post.PostModel
@{
    ViewData["Title"] = "Create Post";
}
@section Css { @{await Html.RenderPartialAsync("_PostCssPartial"); }}
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    @{await Html.RenderPartialAsync("_PostScriptsPartial"); }
}
<h1>Create Post</h1>

<form method="post" enctype="multipart/form-data" asp-controller="image" asp-action="post" class="dropzone" id="dropzoneForm"></form>
<div id="progressbar-wrapper" style="display:none">
    Uploading ...
    <progress id="progressbar" value="0" max="100"></progress>
</div>
<form method="post" enctype="multipart/form-data" asp-controller="post" asp-action="create" id="post_form" style="display:none">
    <div class="form-group">
        <div class="col-md-10">
            <input asp-for="title" class="form-control" placeholder="Title" />
            <span asp-validation-for="title" class="text-danger"></span>
        </div>
    </div>
    <input type="hidden" name="post_image" id="post_image_file" />
    <div class="form-group">
        <button type="submit" class="btn btn-default">Submit</button>
    </div>
</form>
<img src="" id="post_image_url" style="display:none" class="img-responsive" />

