@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Sorry</h2>
<p>Your email change token has expired</p>
<p>You can request a new one over here:</p>
<a asp-controller="Settings" asp-action="Email">Change Email</a>
