@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Error</h2>
<p>I felt a great disturbance in the Force...</p>
<p>as if millions of bytes suddenly cried out in terror and were suddenly silenced. I fear something terrible has happened.</p>

